<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evaluador de Rentabilidad de Airbnb</title>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    <meta name="robots" content="noindex, follow" />
    <script src="../static/js/if_gmap.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCy92qhM2lrYhSsW-fCrO0Lz94yXTWdRiQ"></script>
  </head>
  <body onload="if_gmap_init();">
    <div id="booking" class="section">
      <div class="section-center">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-push-6">
              <div class="booking-cta">
                <h1>Evaluador de Rentabilidad de Airbnb</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                  facere, soluta magnam consectetur molestias itaque ad sint
                  fugit architecto incidunt iste culpa perspiciatis possimus
                  voluptates aliquid consequuntur cumque quasi. Perspiciatis.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
              <div class="booking-form">
                <form action = "{{ url_for('predict') }}" method = "post">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                            <span class="form-label">Tipo de Alojamiento</span>
                            <select id="room_type" name="room_type" class="form-control">
                                <option value="1">Habitación Privada</option>
                                <option value="2">Habitación Entera</option>
                                <option value="3">Habitación Compartida</option>
                            </select>
                            <span class="select-arrow"></span>
                            </div>
                        </div>
                        

                        <div class="col-sm-6">
                            <div class="form-group">
                            <span class="form-label">Días disponibles al mes</span>
                            <input class="form-control" name="availability_30" type="number" min="1" max="31" value="30" required/>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                            <span class="form-label">Habitaciones</span>
                            <select class="form-control" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                            <span class="select-arrow"></span>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                            <span class="form-label">Personas</span>
                            <input class="form-control" name="accomodates" type="number" min="1" max="50" value="2" required />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                            <span class="form-label">Camas</span>
                            <input class="form-control" name="beds" type="number" min="1" max="50" value="1" required />
                            </div>
                        </div>

                        
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                            <span class="form-label">Latitud</span>
                            <input class="form-control" id="latval" name="latitude" required />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                            <span class="form-label">Longitud</span>
                            <input class="form-control" id="longval" name="longitude" required />
                            </div>
                        </div>
                    </div>

                    <div id='maparea'>
                        <div id="mapitems" style="width: 100%; height: 250px"></div>
                    </div>
                    <br>
                    <div class="form-btn">
                        <button type="submit" class="submit-btn">Predecir Rentabilidad</a>
                    </div>

                </form>
                <br>
                <h4>{{ prediction_text }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>