<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Proyecto CC6409</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <div class = "login">
            <h1>Proyecto CC6409</h1>
            <p>Predictor de Rentabilidad AirBnb</p>
            <form action = "{{ url_for('predict') }}" method = "post">
                <input type="text" name="latitude" placeholder="Ingrese latitud" required="required"/>
                <input type="text" name="longitude" placeholder="Ingrese longitud" required="required"/>
                <select id="room_type" name="room_type" selected="Tipo de Habitación">
                    <option value="1">Habitación Privada</option>
                    <option value="2">Habitación Entera</option>
                    <option value="3">Habitación Compartida</option>
                </select>
                <input type="text" name="accomodates" placeholder="Cuantas personas acomoda la propiedad?" required="required" />
                <input type="text" name="bedrooms" placeholder="Cuantas piezas tiene la propiedad?" required="required"  />
                <input type="text" name="beds" placeholder="Cuantas camas tiene la propiedad?" required="required"  />
                <input type="text" name="availability_30" placeholder="Cuantas dias al mes tendrás disponible la propiedad?" required="required"  />
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>
            <br>
            <br>
            {{ prediction_text }}
        </div>
    </body>
</html>